$color-primary: #3369F3;
$color-error: #FF2F2F;
$color-warn: #FF0000;
$color-text-dark: #1E1E1E;
$color-text-muted: #999999;
$color-bg-light: #EFEFEF;
$color-bg-sidebar: #FBFBFB;
$color-border: #EAEAEA;
$color-msg-incoming: #F8F8F8;
$color-msg-outgoing: #E4EDFD;
$color-white: #FFFFFF;

$font-base: Arial, Helvetica, sans-serif;
