@use '../../styles/variables' as *;

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 16px);
  height: calc(100vh - 16px);

  &--profile {
    justify-content: flex-start;
  }

  &__back {
    width: 64px;
    height: calc(100vh - 16px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-bg-sidebar;
    border-right: 1px solid $color-border;
    flex-shrink: 0;
  }

  &__content {
    width: calc(100% - 64px);
    height: calc(100vh - 16px);
    padding-right: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.profile__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__title {
  font: bold 16px $font-base;
}

.profile__data-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 40px 0;
  padding: 0;
  width: 510px;
}